*{  
    margin: 0;
    padding: 0;
}
body{
    background: #000000;
    color: #F6F6F6;}

.main .featured{
    text-align: center;
}
.main .featured .model-text{
    color: #26F0F1;

}

.texto-destaque{
    color: #26F0F1;
    text-align: center;
}

.title-blog {
    color: #26F0F1;
    /* Adicionar mais estilos conforme necessário */
    text-align: center

}

.image-central{
    margin: auto;
    padding: 20px 20px 20px;
    display: flex;
    justify-content: center;

}
button {
    background-color: #22D4FD;
    font-weight: bold;
    margin: auto;
    display: flex;
    justify-content: center;
    color: #000000;
    border: 5px solid #22D4FD;
    padding: 8px;


    /* Adicionar mais estilos conforme necessário */
}
img {
    /* Adicionar estilos para formatar a imagem */
}
/* Adicionar mais estilos conforme necessário */
